h1{
    color:black;
    font-size: 100px;
}

.center{
    height: 100px;
    width: 100;
}

.container{
    display: grid;
    height: 100px;
    width: 100%;
}
#display{
    font-size: 250px;
    text-align:center;
    color:black;
    margin:auto;
}

.buttons{
    margin: auto;
    text-align: center;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif;
}